body {
  font-family: Roboto, Arial;
  background-color: rgb(25, 25, 25);
  color: white;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 15px;
  font-weight: bold;
  margin: 0px;
  margin-top: 10px;
}

.scoreP {
  margin-bottom: 10px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  margin: 0px;
  margin-top: 25px;
}

.chooseButton {
  background-color: rgb(25, 25, 25);
  border: 2px solid white;
  border-radius: 50px;
  cursor: pointer;
  padding: 20px;
  transition: all 0.15s;
  margin: 0px 5px;
}

.chooseButton:hover {
  border-width: 5px;
  background-color: rgb(255, 255, 255);
}

.chooseButton:active {
  opacity: 0.8;
}

.buttonImg {
  width: 50px;
}

.resetButton {
  font-size: 15px;
  font-weight: bold;
  padding: 10px 80px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.2s;
}

.resetButton:hover {
  opacity: 0.8;
  padding: 10px 100px;
}

.resetButton:active {
  opacity: 0.5;
}