.toggleableButton {
  background-color: rgb(240, 240, 240);
  color: black;
  font-family: Roboto;
  font-size: 15px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: all 0.15s;
}

.isToggled {
  background-color: black;
  color: white;
}
