body {
  background-color: black;
}

p {
  color: white;
  font-family: Roboto, Arial;
  font-weight: bold;
  font-size: 36px;
}

.grid-números{
  display: grid;
  grid-template-columns: 80px 80px 80px;
}

.grid-operadores {
  display: grid;
  grid-template-columns: 35px 35px 35px 35px 35px 35px 35px;
}

.number, .equal {
  height: 80px;
  align-items: center;
  justify-content: center;
  background-color: rgb(55, 111, 214);
  color: white;
  font-size: 30px;
  font-family: Roboto, Arial;
  font-weight: bold;
  border: 3px solid rgb(107, 145, 218);
  cursor: pointer;
  transition: all 0.15s;
}

.equal {
  width: 160px;
}

.number:hover,
.equal:hover {
  opacity: 0.8;
  border: 7px solid rgb(23, 23, 23);
}

.number:active,
.equal:active {
  opacity: 0.5;
}

.special {
  margin-top: 10px;
  background-color: rgb(55, 111, 214);
  border-radius: 50px;
  border: 0px solid rgb(107, 145, 218);
  cursor: pointer;
  color: white;
  font-family: Roboto, Arial;
  font-weight: bold;
  padding: 10px 11px;
  transition: all 0.15s;
}

.special:hover {
  opacity: 0.8;
  border-color: red;
}